# Proyecto 1

Integrantes:
- Francis Aguilar - 22243
- César López - 22535
- Angela García -22869

In [23]:
import pandas as pd
import numpy as np
import sys
import os
import lxml

In [24]:
carpeta = 'xlss' 
carpeta_salida = 'data' 
os.makedirs(carpeta_salida, exist_ok=True)

#nombres de las columnas esperadas
columnas = [
    'CODIGO', 'DISTRITO', 'DEPARTAMENTO', 'MUNICIPIO', 'ESTABLECIMIENTO',
    'DIRECCION', 'TELEFONO', 'SUPERVISOR', 'DIRECTOR', 'NIVEL', 'SECTOR',
    'AREA', 'STATUS', 'MODALIDAD', 'JORNADA', 'PLAN', 'DEPARTAMENTAL'
]


for archivo in os.listdir(carpeta):
    if archivo.endswith(".xls"):
        ruta_archivo = os.path.join(carpeta, archivo)
        nombre_csv = os.path.splitext(archivo)[0] + ".csv"
        ruta_csv = os.path.join(carpeta_salida, nombre_csv)

        if os.path.exists(ruta_csv):
            print(f"Ya existe: {nombre_csv}, se omite.")
            continue
        try:
            tablas = pd.read_html(ruta_archivo)
            tabla_principal = max(tablas, key=lambda df: df.shape[1])

            # reemplazar los nombres de columnas, porque sino sale con numeros del 1 al 17
            if tabla_principal.shape[1] == len(columnas):
                tabla_principal.columns = columnas
                tabla_principal = tabla_principal.iloc[1:] # Eliminar la primera fila que suele ser un encabezado adicional
            else:
                print(f"Columnas no coinciden en {archivo}, se omite renombrado.")

            tabla_principal.to_csv(ruta_csv, index=False)
            print(f"Convertido: {archivo} → {nombre_csv}")

        except Exception as e:
            print(f"Error al procesar {archivo}: {e}")

print("Se finalizo la conversion")

Ya existe: ALTA VERAPAZ.csv, se omite.
Ya existe: BAJA VERAPAZ.csv, se omite.
Ya existe: CHIMALTENANGO.csv, se omite.
Ya existe: CHIQUIMULA.csv, se omite.
Ya existe: CIUDAD CAPITAL.csv, se omite.
Ya existe: EL PROGRESO.csv, se omite.
Ya existe: ESCUINTLA.csv, se omite.
Ya existe: GUATEMALA.csv, se omite.
Ya existe: HUEHUETENANGO.csv, se omite.
Ya existe: IZABAL.csv, se omite.
Ya existe: JALAPA.csv, se omite.
Ya existe: JUTIAPA.csv, se omite.
Ya existe: PETEN.csv, se omite.
Ya existe: QUETZALTENANGO.csv, se omite.
Ya existe: QUICHE.csv, se omite.
Ya existe: RETALHULEU.csv, se omite.
Ya existe: SACATEPEQUEZ.csv, se omite.
Ya existe: SAN MARCOS.csv, se omite.
Ya existe: SANTA ROSA.csv, se omite.
Ya existe: SOLOLA.csv, se omite.
Ya existe: SUCHITEPEQUEZ.csv, se omite.
Ya existe: TOTONICAPAN.csv, se omite.
Ya existe: ZACAPA.csv, se omite.
Se finalizo la conversion

In [25]:
# juntar los datos 
carpeta = 'data'
csv_final = 'data.csv'

dataframes=[]

for archivo in os.listdir(carpeta):
    if archivo.endswith('.csv'):
        ruta = os.path.join(carpeta, archivo)
        try:
            df = pd.read_csv(ruta)
            dataframes.append(df)
            print(f"Agregado: {archivo}")
        except Exception as e:
            print(f"Error en {archivo}: {e}")

#concatenar los dfs
df_consolidado = pd.concat(dataframes, ignore_index=True)

#guardar
df_consolidado.to_csv(csv_final, index=False)
print(f"CSV guardado : {csv_final}")

Agregado: ALTA VERAPAZ.csv
Agregado: BAJA VERAPAZ.csv
Agregado: CHIMALTENANGO.csv
Agregado: CHIQUIMULA.csv
Agregado: CIUDAD CAPITAL.csv
Agregado: EL PROGRESO.csv
Agregado: ESCUINTLA.csv
Agregado: GUATEMALA.csv
Agregado: HUEHUETENANGO.csv
Agregado: IZABAL.csv
Agregado: JALAPA.csv
Agregado: JUTIAPA.csv
Agregado: PETEN.csv
Agregado: QUETZALTENANGO.csv
Agregado: QUICHE.csv
Agregado: RETALHULEU.csv
Agregado: SACATEPEQUEZ.csv
Agregado: SAN MARCOS.csv
Agregado: SANTA ROSA.csv
Agregado: SOLOLA.csv
Agregado: SUCHITEPEQUEZ.csv
Agregado: TOTONICAPAN.csv
Agregado: ZACAPA.csv
CSV guardado : data.csv

In [26]:

df = pd.read_csv(csv_final)

#describir el set de datos
df.describe(include='all')

,CODIGO,DISTRITO,DEPARTAMENTO,MUNICIPIO,ESTABLECIMIENTO,DIRECCION,TELEFONO,SUPERVISOR,DIRECTOR,NIVEL,SECTOR,AREA,STATUS,MODALIDAD,JORNADA,PLAN,DEPARTAMENTAL
count,6599,6599,6599,6599,6599,6597,6553,6599,6573,6599,6599,6599,6599,6599,6599,6599,6599
unique,6599,622,23,343,3786,4433,4215,599,3863,1,4,3,1,2,6,12,26
top,19-11-0018-46,01-403,GUATEMALA,ZONA 1,INSTITUTO NACIONAL DE EDUCACION DIVERSIFICADA,CABECERA MUNICIPAL,22093200.0,MIGUEL ANGEL ARMAS ROCHA,MARÍA DOLORES PÉREZ TUCHÁN,DIVERSIFICADO,PRIVADO,URBANA,ABIERTA,MONOLINGUE,DOBLE,DIARIO(REGULAR),GUATEMALA OCCIDENTE
freq,1,160,1038,302,286,199,12,190,10,6599,5417,5249,6599,6390,1957,4051,551

In [27]:
#filas de datos
print("Cantidad de filas en el set de datos:")
print(df.shape[0])

print("-"*150)
#cuantas variables tiene el set de datos
print("Cantidad de variables en el set de datos:")
print(df.shape[1])

Cantidad de filas en el set de datos:
6622
------------------------------------------------------------------------------------------------------------------------------------------------------
Cantidad de variables en el set de datos:
17